
    <div class="wrapper">
        <header>
            <div class="logo">
                <a href="/"><img src="/img/logo.png" alt="logo"> </a>
            </div>
            <div class="menu">
                <ul> 
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About me</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                    {{#unless isLoggedIn}}
                        <li><a href="/login">Login</a></li>
                    {{else}}
                    <form action="/logout" method="post">
                        <input type="submit" value="Logout" class="btn btn-primary">
                    </form>
                    {{/unless}}
                </ul>
            </div>
        </header>
  
    </div>






