<header id="menu">
    <div>
        <ul>
            <a href="/"> Home </a>
            <a href="/">About me</a>
            <a href="/">Project</a>
            <a href="/">LogIn</a>
            <a href="/">Contact</a>
        </ul>
    </div>
</header>
