<div id="main">
    <div>
        <h1>Hello</h1>
        {{#each listHumans}}
            <div>
               - {{id}}: <a href ="/aboutme/{{id}}">{{name}}</a>
            </div>
        {{/each}}
    </div>
</div>
