<div id="Contact">
    <div>
        <h1>Contact Me</h1>
    </div>
    <div class="email">
      <h5>Email: dede.alashkar@gmail.com</h5> 
    </div>
    <div class="Phone">
        <h4>Phone: +46 70-040 95 00</h4>
    </div>
    <div class="littleText">
        <p>Don't hesitat to contact me</p>
    </div>
</div>

