<div class="wrapper">
    <header>
         <div class="home">
            <div class="container">
                <div class="person">
                    <span class="person-overlay"></span>
                    <img src="img/person.png">
                </div>
                <div class="home-class">
                    <h6 class="student">STUDENT</h6>
                    <h1 class="name">DEMA</h1>
                    <p class="small-intro">Hello Welcome to my Portfolio, my name is Dema Alashkar, I'm a 21 years old student who studies Software Development And Mobile Platforms at Jönköping University</p>
                </div>
            </div>
        </div>
    </header>
</div>
                                <!-- Include jQuery, Lettering.js, and Anime.js libraries -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

        <script src="/Animation.js"></script>